<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apmall.dao.ApmDAO">

	<sql id="incCategoryList">
		SELECT
			A.category_no,
			CASE
				WHEN A.depth = 2
					THEN B.category_name || '_' || A.category_name
				ELSE A.category_name
			END category_name
		FROM category A
		LEFT JOIN category B
		ON A.parent_no = B.category_no
	</sql>

	<select id="selectCategories" resultType="com.apmall.dto.CategoryDto">
		<include refid="incCategoryList"/>
	</select>

    <select id="selectProducts" resultType="com.apmall.dto.ProductDto">
        SELECT
        	product_name, product_price, category_name
        FROM product PRD
        LEFT JOIN (
			<include refid="incCategoryList"/>
        )CT
        ON PRD.category_no = CT.category_no
		<where>
			<if test="product_name != null and product_name != ''">
				AND product_name = #{product_name}
			</if>
			<if test="category_name != null and category_name != ''">
				AND PRD.category_no = #{category_name}
			</if>
		</where>
    </select>

	<insert id="insertCategory">
		<selectKey keyProperty="category_no" resultType="_int" order="BEFORE">
			SELECT IFNULL(MAX(category_no),0)+1 as category_no FROM category
		</selectKey>
		INSERT INTO category(
			category_no, category_name, parent_no, depth
		) VALUES (
			#{category_no}, #{category_name}, #{parent_no}, #{depth}
		)
	</insert>

	<update id="updateCategory">
		UPDATE category
		<set>
			<if test="category_name != null and category_name!=''">
				category_name = #{category_name},
			</if>
			<if test="parent_no != null and parent_no!=''">
				parent_no = #{parent_no},
			</if>
			<if test="depth != null and depth!=''">
				depth = #{depth},
			</if>
	   </set>
		WHERE
			category_no = #{category_no}
	</update>

	<delete id="deleteCategory">
		DELETE
		FROM category
		WHERE
			category_no = #{category_no}
	</delete>

	<insert id="insertProduct">
		<selectKey keyProperty="product_no" resultType="Integer" order="BEFORE">
			SELECT IFNULL(MAX(product_no),0)+1 as product_no FROM PRODUCT
		</selectKey>
		INSERT INTO product(
			product_no,	product_name, brand_name, product_price, category_no
		) VALUES (
			#{product_no}, #{product_name}, #{brand_name}, #{product_price}, #{category_no}
		)
	</insert>

	<update id="updateProduct">
		UPDATE product
		<set>
			<if test="product_name != null and product_name!=''">
				product_name = #{product_name},
			</if>
			<if test="brand_name != null and brand_name!=''">
				brand_name = #{brand_name},
			</if>
			<if test="product_price != null and product_price!=''">
				product_price = #{product_price},
			</if>
			<if test="category_no != null and category_no!=''">
				category_no = #{category_no},
			</if>
	   </set>
		WHERE
			product_no = #{product_no}
	</update>

	<delete id="deleteProduct">
		DELETE
		FROM product
		WHERE
			product_no = #{product_no}
	</delete>

</mapper>